@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-grafite-500 text-zinc-100;
}

.widget-container {
  @apply absolute bottom-4 right-4 md:bottom-8 md:right-10 flex flex-col items-end;
}

.button-chat {
  @apply bg-lemonade-500 rounded-full px-3 h-12 text-white flex items-center;
}

.icon-chat {
  @apply w-6 h-6;
}

.feedback {
  @apply max-w-0 overflow-hidden group-hover:max-w-xs transition-all duration-700 ease-linear;
}

.wg-form-container {
  @apply bg-zinc-900 p-4 relative rounded-2xl mb-4 flex flex-col items-center shadow-lg w-[calc(100vw-2rem)]
  md:w-auto;
}

.wg-header {
  @apply text-xl leading-6;
}

.wg-form {
  @apply flex py-8 gap-2 w-full
}

.btn-feedback-types {
  @apply bg-zinc-800 rounded-lg py-5 w-24 flex-1 flex flex-col items-center gap-2 border-2
  border-transparent hover:border-lemonade-500 focus:border-lemonade-500 focus:outline-none;
}

.wg-footer {
  @apply text-xs text-neutral-400;
}

.wg-footer a {
  @apply underline underline-offset-2;
}

.cl-btn {
  @apply top-5 right-5 absolute text-zinc-400 hover:text-zinc-100;
}

.x-btn {
  @apply w-4 h-4;
}

.title-content {
  @apply flex items-center gap-2;
}

.img-content-title {
  @apply w-6 h-6;
}

.arrow-left {
  @apply top-5 left-5 absolute text-zinc-400 hover:text-zinc-100;
}

form {
  @apply my-4 w-full;
}

form textarea {
  @apply min-w-[304px] w-full min-h-[112px] text-sm placeholder-zinc-400
  text-zinc-100 border-zinc-600 bg-transparent rounded-md focus:border-lemonade-500
  focus:ring-lemonade-500 focus:ring-1 focus:outline-none resize-none;
}

form footer {
  @apply flex gap-2 mt-2;
}


.btn-submit {
  @apply p-2  bg-lemonade-500 rounded-md border-transparent flex-1 flex justify-center items-center text-sm
  hover:bg-lemonade-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-zinc-900
  focus:ring-lemonade-500 transition-colors font-semibold disabled:opacity-50 disabled:hover:bg-lemonade-500;
}

.btn-print {
  @apply p-2 bg-zinc-800 rounded-md border-transparent hover:bg-zinc-700 transition-colors
  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-zinc-900 focus:ring-lemonade-500;
}

.btn-printed {
  @apply p-1 w-10 h-10 rounded-md border-transparent flex justify-end items-end text-zinc-400
  hover:text-zinc-100 transition-colors;
}

.loading-content {
  @apply w-6 h-6 flex items-center justify-center overflow-hidden;
}

.success-content {
  @apply flex flex-col items-center py-10 w-[304px];
}

.success-msg {
  @apply text-xl mt-2;
}

.btn-new-feedback {
  @apply py-2 px-6 mt-6 bg-zinc-800 rounded-md border-transparent text-sm leading-6
  hover:bg-zinc-700 transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-offset-zinc-900 focus:ring-lemonade-500;
}
